<div class="bg-gradient-danger">
  <div class="container-fluid">
    <div>
      <!-- Card stats -->
      <div class="cartas">
        <div class="carta dealer" *ngFor="let card of dealerCards">
          <app-card [card]="card.name"></app-card>
        </div>
      </div>
      <div class="cartas">
        <div class="carta dealer" *ngFor="let card of playerCards">
          <app-card [card]="card.name"></app-card>
        </div>
      </div>
      <div class="text-center border-0 pt-3 pt-md-4 pb-0 pb-md-4">
        <div class="d-flex justify-content-between">
          <button (click)='pedir()' class="btn btn-sm btn-info mr-4">Pedir</button>
          <button (click)='parar()'class="btn btn-sm btn-default float-right">Parar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="error">{{ messageError }}</div>


