<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="card container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-sm" *ngFor="let card of dealerCards">
          <app-card [card]="card.name"></app-card>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <button (click)='pedir()' class="btn btn-sm btn-info mr-4">Pedir</button>
            <button (click)='parar()'class="btn btn-sm btn-default float-right">Parar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


